<launch>

<!--   <group ns="turtlesim1">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
  </group>

  <group ns="turtlesim2">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
  </group>

  <node pkg="turtlesim" name="mimic" type="mimic">
    <remap from="input" to="turtlesim1/turtle1"/>
    <remap from="output" to="turtlesim2/turtle1"/>
  </node> -->

  <node ns="arduino_blue" name="arduino_blue" pkg="rosserial_python" 
    type="serial_node.py" args="/dev/arduino_blue" output="screen" />

  <node ns="arduino_green" name="arduino_green" pkg="rosserial_python" 
    type="serial_node.py" args="/dev/arduino_green" output="screen" />

</launch>